<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=1"
    />
    <link
      rel="shortcut icon"
      href="/images/logo.png"
    />
    <link rel="manifest" href="/pwa/manifest.json"/>
<style>
<%- include('pwa/css/icons.css') %>
<%- include('pwa/css/main.css') %>
<%- include('pwa/css/nav.css') %>
</style>
    <title><%- title %></title>
  </head>
  <body>
    <%- include('pwa/body') %>
    <%- include('pwa/nav') %>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
    <script
      src="/pwa/dist/about_service_worker.bundle.js"
    ></script>
    <script src="/pwa/dist/index.bundle.js"></script>
  </body>
</html>
