<% items.forEach(function(item){ %>
<div
  class="DraggableDiv"
  style="display: none"
  id="draggable-<%- item.id %>"
>
  <div class="Header" style="position: relative">
    <%- item.name %>
    <% if (item.desc){ %>
    |
      <small><%- item.desc %></small>
    <% } %>
    <% if (item.price){ %>
      <div class="price">
        $ <%- item.price %>
      </div>
    <% } %>
    <button class="close" onclick="closePopup(<%- item.id %>)"
    >x</button>
  </div>
  <div class="Content" style="position: relative">

    <div class="images">
      <% if (item['builds']) { %>
        <div>
          <% item.builds.forEach(function(item) { %>
            <img
              style='width: 16px;'
              src="/images/mlbb/equipment/<%- item.img %>"
              title="<%- item.name %>"
            />
          <% }); %>
        </div>
      <% } %>

      <div class="itemWithPrice">
        <img
          style="width: 24px;"
          src="/images/mlbb/equipment/<%- item.img %>"
          title="<%- item.name %>"
        />
        <% if (item.calculatedPrice) { %>
          <div class="tree"><%- item.calculatedPrice %></div>
        <% } %>
      </div>

      <% if (item['tree']) { %>
        <div>
          <% item.tree.forEach(function(item) { %>
            <div class="itemWithPrice">
              <img
                style='width: 16px;'
                src="/images/mlbb/equipment/<%- item.img %>"
                title="<%- item.name %>"
              />
              <% if (item.price) { %>
                <div class="tree"><%- item.price %></div>
              <% } %>
            </div>
          <% }); %>
        </div>
      <% } %>
    </div>

    <%- include('draggable/table', {item: item}) %>
  </div>
</div>
<% }); %>
