<% items.forEach(function(item){ %>
<div
  class="DraggableDiv"
  style="display: none"
  id="draggable-<%- item.id %>"
>
  <div class="Header" style="position: relative">
    <%- item.name %>
    |
    <% if (item.desc){ %>
      <small><%- item.desc %></small>
      <div class="price">
        $ <%- item.price %>
      </div>
    <% } %>
    <button class="close" onclick="closePopup(<%- item.id %>)">x</button>
  </div>
  <div class="Content" style="position: relative">

    <div style="
      position: absolute;
      padding: 0;
      right: 2px;
      top: 2px;
      width: 50%;
      text-align: center;
    ">
      <% if (item['builds']) { %>
        <div>
          <% item.builds.forEach(function(item) { %>
            <img
              style='width: 16px;'
              src="/images/mlbb/equipment/<%- item.img %>"
              title="<%- item.name %>"
            />
          <% }); %>
        </div>
      <% } %>

      <img
        style="width: 24px;"
        src="/images/mlbb/equipment/<%- item.img %>"
        title="<%- item.name %>"
      />

      <% if (item['tree']) { %>
        <div>
          <% item.tree.forEach(function(item) { %>
            <img
              style='width: 16px;'
              src="/images/mlbb/equipment/<%- item.img %>"
              title="<%- item.name %>"
            />
          <% }); %>
        </div>
      <% } %>
    </div>

    <%- include('draggable/table', {item: item}) %>
  </div>
</div>
<% }); %>
