<% items.forEach(function(item){ %>
<div
  class="DraggableDiv"
  style="display: none"
  id="draggable-<%- item.id %>"
>
  <div class="Header" style="position: relative">
    <%- item.name %>
    <% if (item.desc){ %>
    |
      <small><%- item.desc %></small>
    <% } %>
    <% if (item.price){ %>
      <div class="price">
        $ <%- item.price %>
      </div>
    <% } %>
    <button class="close" onclick="closePopup(<%- item.id %>)">x</button>
  </div>
  <div class="Content" style="position: relative">

    <div style="
      position: absolute;
      padding: 0;
      right: 2px;
      top: 2px;
      width: 50%;
      text-align: center;
    ">
      <% if (item['builds']) { %>
        <div>
          <% item.builds.forEach(function(item) { %>
            <img
              style='width: 16px;'
              src="/images/mlbb/equipment/<%- item.img %>"
              title="<%- item.name %>"
            />
          <% }); %>
        </div>
      <% } %>

      <div style="
        display: inline-block;
        position: relative;
        padding: 0;
        text-align: center;
      ">
        <img
          style="width: 24px;"
          src="/images/mlbb/equipment/<%- item.img %>"
          title="<%- item.name %>"
        />
        <% if (item.calculatedPrice) { %>
          <div
            style="
              position: absolute;
              font-size: 5px;
              bottom: -1px;
              color: yellow;
              background: grey;
              width: 100%;
              padding: .5px;
            "
          ><%- item.calculatedPrice %></div>
        <% } %>
      </div>

      <% if (item['tree']) { %>
        <div>
          <% item.tree.forEach(function(item) { %>
            <div style="
              display: inline-block;
              position: relative;
              padding: 0;
              text-align: center;
            ">
              <img
                style='width: 16px;'
                src="/images/mlbb/equipment/<%- item.img %>"
                title="<%- item.name %>"
              />
              <% if (item.price) { %>
                <div
                  style="
                    position: absolute;
                    font-size: 5px;
                    bottom: -1px;
                    color: yellow;
                    background: grey;
                    width: 100%;
                    padding: .5px;
                  "
                ><%- item.price %></div>
              <% } %>
            </div>
          <% }); %>
        </div>
      <% } %>
    </div>

    <%- include('draggable/table', {item: item}) %>
  </div>
</div>
<% }); %>
