<div class="equipment"
  onclick="item(<%- itemCount %>)"
  id="itemID-<%- itemCount %>"
>
  <img
    src="/images/mlbb/equipment/<%- item.img %>"
    title="<%- item.name %>"
    tooltip="<%- item.name %>"
  />
  <div class="text">
    <%- item.name %>
    <% if (equipment && equipment.desc) { %>
      <hr/>
      <small>
        <%- equipment.desc %>
      </small>
    <% } %>
  </div>
  <% if (equipment && equipment.price) { %>
    <div class="price">
      $ <%- equipment.price %>
    </div>
  <% } %>
</div>
